:root {
  --font-main: 'Poppins', sans-serif;
  --container-width: 1200px;
  --easeInOut: cubic-bezier(0.39, 0.57, 0.56, 1);
  --radius: 20px;

  --background: #f3f3f3;
  --foreground-primary: #fafafa;
  --foreground-secondary: #f0f0f0;
  --text-color-thick: #1f1f1f;
  --text-color-regular: #434343;
  --text-color-thin: #676767;
  --text-color-ultrathin: #8c8c8c;
  --shadow-color: #e4e4e4;
  --glass: rgba(255, 255, 255, 0.8);
  --primary: #00adb5;
  --secondary: #1787ff;

  --success: #01c851;
  --danger: #fe4443;
  --warning: #ffbb33;
  --info: #33b5e7;
}

.dark-mode {
  --background: #181719;
  --foreground-primary: #27242c;
  --foreground-secondary: #3d3a41;
  --text-color-thick: #ffffff;
  --text-color-regular: #f6f6f6;
  --text-color-thin: #c2c2c2;
  --text-color-ultrathin: #bbbbbb;
  --shadow-color: #161616;
  --glass: rgba(0, 0, 0, 0.75);
  --primary: #00adb5;
  --secondary: #1787ff;

  --success: #017e34;
  --danger: #cc0000;
  --warning: #ff8801;
  --info: #0099cc;
}

html {
  font-family: var(--font-main);
  color: var(--text-color-regular);
  scroll-behavior: smooth;
  box-sizing: border-box;

  background-color: var(--background);
  /* background-image: url('../assets/images/1.jpg'); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  transition: background 2s var(--easeInOut);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Maquetacion */
body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, auto);
  gap: 1rem;
  grid-template-areas:
    'header       '
    'hero         '
    'weatherSearch'
    'map          '
    'video        '
    'weather      '
    'currency     '
    'fuel         '
    'team         '
    'footer       ';
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  min-width: 400px;
}

/* CONTENEDORES */
.containerLarge {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* background-color: lightblue; */
}

.child {
  /* background-color: lightgreen; */
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.hero,
.weatherSearch,
.map,
.video,
.weather,
.currency,
.fuel,
.team,
.footer {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);

  border-radius: var(--radius);
  box-shadow: 0 5px 20px 0 #6e6e6e25;
  padding: 0.5rem;
}

/* ? HEADER */
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  margin-top: 1rem;
  font-weight: 600;

  background: var(--glass);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.header .menu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.header .menu a {
  color: inherit;
  text-decoration: none;
}

.header .menu a:hover {
  color: var(--primary);
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-color-regular);
}

.subtitle {
  text-align: center;
}

/* ? HERO */
.hero {
  grid-area: hero;
  height: auto;
}

.hero__img {
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  /* background-position: 50%; */
  height: 300px;
  border-radius: var(--radius);
}
.hero__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

i {
  padding: 0;
}

/* ? FORMULARIOS */
.form {
  display: flex;
  flex-flow: column wrap;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightcoral; */
}

i {
  margin-left: 0.5em;
}
.form * {
  margin-top: 0.5rem;
}

/* ? CLIMA BUSQUEDA */
.weatherSearch {
  grid-area: weatherSearch;
}

/* ? MAP */
.map {
  grid-area: map;
  padding: 0;
  overflow: hidden;
}

.iframe__map {
  width: 100%;
  height: 100%;
}

/* ? VIDEO */
.video {
  grid-area: video;
  background-color: #000;
  padding: 0;
  overflow: hidden;
}

.iframe__video {
  width: 100%;
  height: 100%;
}

/* ? CLIMA INFO */
.weather {
  grid-area: weather;
  display: flex;
  flex-flow: column wrap;
  font-size: 1.5rem;
}

.weather__moreinfo {
  align-self: flex-end;
  text-align: end;
  /* background-color: rgb(238, 14, 137); */
}

.weather__main {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 1rem auto;
  /* background-color: lightpink; */
  font-size: 1rem;
}

.weather__img {
  height: 100%;
  max-height: 100px;
}

.weather__temperature {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

.weather__icons {
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-evenly;
}

.icon {
  text-align: center;
  /* background-color: lightsalmon; */
}

.icon i {
  margin: 0;
}

.icon span {
  font-weight: normal;
  font-size: 1rem;
}

/* ? DIVISAS */
.currency {
  grid-area: currency;
}

.currency__response {
  display: flex;
  flex-flow: column wrap;
}

/* ? GASOLINAS */
.fuel {
  grid-area: fuel;
}

/* ? EQUIPO */
.team {
  grid-area: team;
}

.team__img {

}

.team__content {
  flex-flow: column wrap;
}


/* ? FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
}

.footer__up {
  font-size: 2rem;
  color: var(--text-color-regular);
}

.fuel__content {
  min-width: 300px;
  min-height: 200px;
  max-width: 600px;
  max-height: 400px;
}

/* ? BOTONES */
.btn {
  padding: 0.5em;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: var(--foreground-primary);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.25s var(--easeInOut),
    color 0.25s var(--easeInOut), transform 0.25s var(--easeInOut);
}

.btn:hover {
  border: 1px solid var(--primary);
  color: #fff;
  background-color: var(--primary);
  box-shadow: 0 8px 16px 0 rgba(31, 131, 135, 0.37);
}

.btn:active {
  transform: scale(0.9);
}

/* ? Media queries */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header        header  '
      'hero          hero    '
      'weatherSearch map     '
      'video         weather '
      'currency      currency'
      'fuel          fuel    '
      'team          team    '
      'footer        footer  ';
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--container-width);
  }
}
