:root {
  --font-main: 'Poppins', sans-serif;
  --container-width: 1200px;
  --easeInOut: cubic-bezier(0.39, 0.57, 0.56, 1);
  --radius: 20px;

  --background: #f3f3f3;
  --foreground-primary: #fafafa;
  --foreground-secondary: #f0f0f0;
  --text-color-thick: #1f1f1f;
  --text-color-regular: #434343;
  --text-color-thin: #676767;
  --text-color-ultrathin: #8c8c8c;
  --shadow-color: #e4e4e4;
  --glass: rgba(255, 255, 255, 0.75);
  --primary: #00adb5;
  --secondary: #1787ff;

  --success: #01c851;
  --danger: #fe4443;
  --warning: #ffbb33;
  --info: #33b5e7;
}

.dark-mode {
  --background: #181719;
  --foreground-primary: #27242c;
  --foreground-secondary: #3d3a41;
  --text-color-thick: #ffffff;
  --text-color-regular: #f6f6f6;
  --text-color-thin: #c2c2c2;
  --text-color-ultrathin: #bbbbbb;
  --shadow-color: #161616;
  --glass: rgba(0, 0, 0, 0.75);
  --primary: #00adb5;
  --secondary: #1787ff;

  --success: #017e34;
  --danger: #cc0000;
  --warning: #ff8801;
  --info: #0099cc;
}

html {
  background-color: var(--background);
  font-family: var(--font-main);
  color: var(--text-color-regular);
  scroll-behavior: smooth;
  box-sizing: border-box;

  transition: background-color 0.25s var(--easeInOut),
    color 0.25s var(--easeInOut);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 1rem;
  grid-template-areas:
    'header  header  header  header '
    'hero    hero    hero    hero   '
    'weather weather weather weather'
    'fuel    fuel    fuel    fuel   '
    'team    team    team    team   '
    'footer  footer  footer  footer ';
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  min-width: 400px;
}

.header,
.hero,
.weather,
.fuel,
.team,
.footer {
  background-color: var(--foreground-primary);
  border-radius: var(--radius);
  box-shadow: 0 5px 20px 0 #dfdfdf;
  padding: 0.5rem;
}

.header {
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  margin-top: 1rem;
  font-weight: 600;

  background: var(--glass);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.header .menu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  /* background-color: lightcoral; */
}

.header .menu a {
  text-decoration: none;
}

.header .menu a:hover {
  color: var(--primary);
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--text-color-regular);
}

.hero {
  grid-area: hero;
  /* padding: 1rem; */
}

.hero__img {
  background-image: url('../assets/images/hero.jpg');
  background-size: cover;
  background-position: 50%;
  height: 400px;
  border-radius: var(--radius);
}
.hero__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.weather {
  grid-area: weather;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.weather__img {
  background-image: url('../assets/images/climate.jpg');
  background-size: cover;
  background-position: 50%;
  width: 50%;
  height: 100%;
  border-radius: var(--radius);
}

.weather__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.fuel {
  grid-area: fuel;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.fuel__img {
  background-image: url('../assets/images/fuel.jpg');
  background-size: cover;
  background-position: 50%;
  width: 50%;
  height: 100%;
  border-radius: var(--radius);
}

.fuel__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.subtitle {
  text-align: center;
}

.team {
  grid-area: team;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.team__title {
}

.team__img {
  background-image: url('../assets/svg/team.svg');
  background-size: cover;
  background-position: 50%;
  width: 50%;
  height: 100%;
  border-radius: var(--radius);
}

.team__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.footer__up {
  font-size: 2rem;
  color: var(--text-color-regular);
}

.fuel__content {
  min-width: 300px;
  min-height: 200px;
  max-width: 600px;
  max-height: 400px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'header  header  header  header  header header header header'
      'hero    hero    hero    hero    hero   hero   hero   hero  '
      'weather weather weather weather fuel   fuel   fuel   fuel  '
      'team    team    team    team    team   team   team   team  '
      'footer  footer  footer  footer  footer footer footer footer';
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: var(--container-width);
  }
}
